CLIENT_URL=http://localhost:5173

DB_HOST=mysql-320a9261-prasoonp-894b.a.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=your_aiven_database_password
DB_NAME=defaultdb
DB_PORT=27088

JWT_SECRET=your_strong_jwt_secret_here

ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password_here